<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>MY PERSONAL SITE</title>
</head>

<body>
    <table cellspacing="20">
        <tr>
            <td><img src="static/assets/Mahabali.jpg" alt="Loading" style="border-radius: 20em; width: 16em;height: 16em;"></td>
            <td align='center'>
                <h1>Mahabali Sarvashaktiman</h1>
                <p> <em> Founder of <strong> <a href="https://interestingengineering.com/what-do-we-really-know-about-the-universe">Universe</a></strong></em></p>
                <p>peopel don't know who is he,but</p>
                <p>He is the one and only the <strong>"Mahabali Sarvashaktiman</strong>."</p>
                Everything starts from him!!
            </td>
        </tr>
    </table>


    <hr>
    <h3>Books</h3>
    <ul>
        <li>Creation of Universe</li>
        <li>The Universe Required Corrections</li>
    </ul>
    <h3>Work Experience</h3>
    <ul>
        <li>Before big bank</li>
    </ul>
    <hr>
    <h3>Skills</h3>
    <table>
        <tr>
            <td>updation of universe</td>
            <td>⭐⭐⭐⭐⭐</td>
        </tr>
        <tr>
            <td>Correcting correction from the earth</td>
            <td>⭐⭐⭐⭐⭐</td>
        </tr>

        <tr>
            <td>All skills come from him!!</td>
            <td>⭐⭐⭐⭐⭐</td>
        </tr>

    </table>
</body>

</html>